<style type="text/css" media="screen">
    #editor { 
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
</style>

<script>


/*
SourceCode:{
	name: {type:'String'},
	description: {type:'String'},
	version: {type:'String'},
	systemVersion: {type:'String'},
	parentId: {type:'String'},
	code: {type:'String'}
}
*/


var api = null;
var appl = null;
var sourceEditor = null;
var projectId = '<%- object.projectId  %>';
var id = '<%- object._id  %>';
var name = '<%- object.name  %>';
var description = '<%- object.description  %>';
var version = '<%- object.version  %>';
var systemVersion = <%- object.systemVersion  %>;
var code = '<%- object.code  %>';
var mode = '<%- mode  %>';

var save = function(tag)
{
	var sourceCode =  getSourceCode();
	console.log('sourceCode');
	console.log(sourceCode);
	
	
	if (id != 'new')
	{
		console.log('about to update');
		console.log(api);
		api.update('SourceCode', sourceCode, function(err, instructions){
			
			console.log(err);
			
			if (!err){
				basePage.alert('Source update successful', 'success', 2000);
			}
			else
			{
				basePage.alert('Source update failed: ' + err, 'error', 2000);
			}
		});
	}
	else
	{
		console.log('id new saving');
	}
	
}

function getSourceCode()
{
	return {
		_id:id,
		name: name,
		description: description,
		version: version,
		systemVersion: systemVersion,
		projectId: projectId,
		code: sourceEditor.getSource(true)
	}
}

onReadyAPIEvent = function(api_client, session, app)
{
	
	$('html').css('height','100%');
	$('body').css('height','100%');
	$('.component_container').css('height','100%');
	$('#div_editor').css('height','100%');
	
	
	require(['jquery', 'underscore', 'sourceEditor'], function($, _, srcEdit){
		
		api = api_client;
		appl = app;
		sourceEditor = srcEdit('div_editor');
		
		console.log('code');
		console.log(code);
		
		sourceEditor.initialize(code, mode, true, function(e){
			
			$('#div_editor').css('display','block')
			console.log('init happened');
			if (e)
				console.log(e);
			
		});
		
	});
}

</script>
<span class='editor-buttons'>
	<img src='/images/save32.png' alt='save' onclick='save()'/>
	<img src='/images/tag32.png' alt='tag' onclick='tag()'/>
	<img src='/images/search32.png' alt='search' onclick='search()'/>
	<img src='/images/versioncontrol32.png' alt='version control' onclick='versionControl()'/>
	<img src='/images/trash32.png' alt='delete' onclick='delete()'/>
</span>
<div id="div_editor" style="display:none">
	
</div>

